{% extends 'base.html' %}
{% block page_content %}

    <h2 class="mt-3 text-center">Delete Profile</h2>

    <form method="POST" class="mt-3">
        {% csrf_token %}
        <h6 class="text-center">If you delete your account, all of your information will be lost, including your pictures, are you sure you want to continue?</h6>
        <div class="d-flex justify-content-center">
            <button class="btn btn-danger rounded mr-2" type="submit" value="delete" style="width: 100px;">I'm sure!</button>
            <a href="{% url 'profile' %}" class="btn btn-secondary rounded" type="submit" style="width: 100px;">Cancel</a>
        </div>
    </form>
{% endblock %}