{% extends 'base.html' %}
{% block page_content %}

    <style>
    .ImgThumbnail {
       border-radius: 5px;
       cursor: pointer;
       transition: 0.3s;
       height: 250px;
       width: 250px;
    }
    .ImgThumbnail:nth-of-type(1) {
       margin-left: 20%;
    }
    .modal {
       display: none;
       position: fixed;
       z-index: 1;
       padding-top: 100px;
       left: 0;
       top: 0;
       width: 100%;
       height: 100%;
       overflow: auto;
       background-color: rgb(0, 0, 0);
       background-color: rgba(0, 0, 0, 0.9);
    }
    .modalImage {
       margin: auto;
       display: block;
       width: 50%;
       height: 60%;
       max-width: 700px;
    }
    #caption {
       margin: auto;
       display: block;
       width: 80%;
       max-width: 700px;
       text-align: center;
       color: #ccc;
       padding: 10px 0;
       height: 150px;
    }
    .close {
       position: absolute;
       top: 15px;
       right: 35px;
       color: #f1f1f1;
       font-size: 40px;
       font-weight: bold;
       transition: 0.3s;
    }
    .close:hover,
    .close:focus {
       color: rgb(255, 0, 0);
       cursor: pointer;
    }
    @media only screen and (max-width: 700px) {
       .modalImage {
          width: 100%;
       }
    }
    </style>

    <div class="d-flex flex-column justify-content-between" style="min-height: 100vh">


        <div>
            <h1 class="text-center mt-2" style="color: #f29263">{{ album_name }}</h1>
            <div class="d-flex justify-content-center">
                <div class="mb-2">
                    <a href="{% url 'edit album' album_pk %}" class="btn btn-primary rounded text-center" style="width: 120px">Edit Album</a>
                    <a href="{% url 'delete album' album_pk %}" class="btn btn-danger rounded text-center" style="width: 120px;">Delete Album</a>
                </div>
            </div>
            <hr>

            {% if not photos %}
                <h5 class="text-center">No photos on this album yet!</h5>
            {% else %}
            <div class="tz-gallery">
                <div class="row">
                    {% for photo in posts %}
                        <div class="col-sm-6 col-md-4" >

                            <div class="thumbnail">
                                <a class="lightbox">
                                    <img src="{{ photo.photo.url }}" class="img-size" style="width: 325px; height: 215px;" alt="Traffic">
                                </a>
                                <div class="caption">
                                    <p style="font-size: 16px;">{{ photo.description }}</p>
                                    <div class="d-flex justify-content-center mt-3">
                                        <div class="mb-2">
                                            <a href="{% url 'edit photo' photo.pk %}" class="btn-sm btn-outline-primary rounded">Edit</a>
                                            <a href="{% url 'delete photo' photo.pk %}" class="btn-sm btn-outline-danger rounded">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal">
                            <span class="close">×</span>
                            <img class="modalImage" id="img01"  alt="image"/>
                        </div>

                    {% endfor %}
                </div>
            </div>
            {% endif %}

        </div>

        <div>
            <ul class="pagination d-flex justify-content-center">
                {% if posts.has_previous %}
                    <li class="page-item d-flex">
                        <a href="?page={{ 1 }}" class="page-link">First</a>
                        <a href="?page={{ posts.previous_page_number }}" class="page-link">&laquo;</a>
                    </li>
                {% endif %}
                {% for p in posts.paginator.page_range %}
                    {% if posts.number == p %}
                        <li class="page-item active">
                            <a href="?page={{ p }}" class="page-link">{{ p }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a href="?page={{ p }}" class="page-link">{{ p }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if posts.has_next %}
                    <li class="page-item d-flex">
                        <a href="?page={{ posts.next_page_number }}" class="page-link">&raquo;</a>
                        <a href="?page={{ posts.paginator.num_pages }}" class="page-link">Last</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>

    <script>
        var modalEle = document.querySelector(".modal");
        var modalImage = document.querySelector(".modalImage");
        Array.from(document.querySelectorAll(".img-size")).forEach(item => {
           item.addEventListener("click", event => {
              modalEle.style.display = "block";
              modalImage.src = event.target.src;
           });
        });
        document.querySelector(".close").addEventListener("click", () => {
           modalEle.style.display = "none";
        });
    </script>
{% endblock %}
